#nomec {
    font-style: italic;
}
#conteudo {
    width: 70%;
    border: 1px solid black;
}
#aside {
    width: 25%;
    position: absolute;
    top: 150px;
    left: 1000px;
    border: 1px solid black;
    height: 100px;
}
footer {
    margin-top: 30px;
}