form {
    width: 50%;
    margin-left: 25%;
    border-radius: 10px;
    padding: 10px;
    background-color: #aae6d0;
}

body {
    background-color: rgb(152, 189, 174);
}

#input-date {
    width: 22%;
    margin-left: 5px;
}

#date-container{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    
}